<!DOCTYPE html>
<html lang="en">


<body class="body">

    <head>
        <meta charset="UTF-8">
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>机器人状态</title>
        <link rel="stylesheet" href="/static/frame/layui/css/layui.css">
        <link rel="stylesheet" href="/static/frame/static/css/style.css">
        <link rel="icon" href="/static/frame/static/image/code.png">
    </head>

    <!--机器人状态div-->
    <div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
        <div class="layui-collapse">
            <div class="layui-colla-item">
                <h2 class="layui-colla-title">机器人状态</h2>
                <div class="layui-colla-content layui-show">
                    <table class="layui-table">
                        <colgroup>
                            <col width="150">
                            <col width="200">
                            <col>
                        </colgroup>
                        <tbody>
                            {%for title,value in robot_data.items() %}
                            <tr>
                                <td>{{ title }}</td>
                                {% if value == "状态" %}
                                <td>{{ value }}</td>
                                {% elif value == "在线" %}
                                <td>
                                    <font color="blue">{{ value }}</font>
                                </td>
                                {% else	%}
                                <td>
                                    <font color="red">{{ value }}</font>
                                </td>
                                {% endif %}
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
 <!--机器人信息div-->
 <div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
    <div class="layui-collapse">
        <div class="layui-colla-item">
            <h2 class="layui-colla-title">机器人信息</h2>
            <div class="layui-colla-content layui-show">
                <table class="layui-table">
                    <colgroup>
                        <col width="150">
                        <col width="200">
                        <col>
                    </colgroup>
                    <tbody>
                        {%for title,value in robot_info.items() %}
                        <tr>
                            <td>{{ title }}</td>
                            <td>{{ value }}</td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!--机器人日志div-->
<div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
    <div class="layui-collapse">
        <div class="layui-colla-item">
            <h2 class="layui-colla-title">机器人运行日志</h2>
            <div class="layui-colla-content layui-show">
                <table class="layui-table">
                    <colgroup>
                        <col width="150">
                        <col width="200">
                        <col>
                    </colgroup>
                    <tbody>
                        {%for title,value in robot_json.items() %}
                        <tr>
                            <td>{{ title }}</td>
                            <td>{{ value }}</td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


    <script type="text/javascript" src="/static/frame/layui/layui.js"></script>
    <script type="text/javascript" src="/static/js/index.js"></script>
    <script type="text/javascript" src="/static/frame/echarts/echarts.min.js"></script>
    <script type="text/javascript">
        layui.use(['element', 'form', 'table', 'layer', 'vip_tab'], function () {
            const form = layui.form,
                table = layui.table,
                layer = layui.layer,
                vipTab = layui.vip_tab,
                element = layui.element,
                $ = layui.jquery;

            
            
            

            // 打开选项卡
            $('.my-nav-btn').on('click', function () {
                if ($(this).attr('data-href')) {
                    //vipTab.add('','标题','路径');
                    vipTab.add($(this), '<i class="layui-icon">' + $(this).find("button").html() +
                        '</i>' + $(this).find('p:last-child').html(), $(this).attr('data-href'));
                }
            });

            // you code ...


        });


    </script>
</body>

</html>